<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.silencefly96.module_tech">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Android 9(API28)要求注册前台服务权限，Android 14还要求具体的工作类型 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".TechApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fundark"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.flag.TestActivityA" android:taskAffinity="com.test.TestA"/>
        <activity android:name=".activity.flag.TestActivityB" android:launchMode="singleTop" android:taskAffinity="com.test.TestA"/>
        <activity android:name=".activity.flag.TestActivityC" android:taskAffinity="com.test.TestA"/>
        <activity android:name=".activity.flag.TestActivityD" android:taskAffinity="com.test.TestB"/>
        <activity android:name=".activity.flag.TestActivityE" android:taskAffinity="com.test.TestB"/>
        <activity android:name=".drawable.animation.AnimationActivity" />
        <activity android:name=".drawable.animator.AnimatorActivity" />
        <activity android:name=".drawable.scene.SceneTransitionActivity" android:theme="@style/CustomActivityTheme"/>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <service
            android:name=".service.remote_view.audio.service.AudioService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            />
    </application>

</manifest>